/* Mobile */

@media (max-width: 600px) {

    html {
        font-size: 12px;
    }

    .main-nav {
        position: fixed;
        inset: 100px 0 auto 0;

        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        align-items: end;

        transition: grid-template-rows .6s;
        background-color: #cccccce5;

        ul {
            flex-direction: column;

            min-height: 0;

            border-inline-start: var(--nav-border);
            
            li {
                display: block;
                width: 100%;
                min-width: 135px;
                border: none;
                border-block-end: var(--nav-border);
                transition: box-shadow 0.2s linear;
                
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 100px;
                    width: 100%;
                }
            }
        }
    }

    body.openedMenu {
        .main-nav {
            grid-template-rows: 1fr;
        }

        .overlay {
            opacity: 1;
            pointer-events: all;
            cursor: pointer;
        }
    }

    .main-menu {
        display: flex;
        justify-self: end;
        justify-content: center;
        align-self: center;
        align-items: center;

        padding: 0.6em;
        margin: 30px;

        font-size: 1.5rem;
        cursor: pointer;
        color: var(--clr-primary-5);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .card .card-details {
        padding: 0 30px;

        .card-title {
            margin-block-end: 1.75rem;
        }
    }

}

/* ---------------------------------------- */

/* Small */

@media (min-width: 601px) {

    html {
        font-size: 12px;
    }

    .main-menu {
        display: none;
    }

    .card {
        flex-direction: row;

    }

    .card-details {
        padding-inline-end: 25px;

        .card-title {
            margin-block-end: 3.75rem;
        }
    }

    .card .card-img {
        width: calc(50% - var(--gap) / 2);
        align-self: stretch;
        object-fit: cover;

    }
}

/* Medium */

@media (min-width: 840px) {

    html {
        font-size: 14px;
    }

    .card {
        gap: var(--gap);
    }

}

/* Large */

@media (min-width: 1080px) {

    html {
        font-size: 16px;
    }

    .card .card-details {
        width: calc(50% - var(--gap) / 2 - 25px);

    }

}