@font-face {
    font-family: Lato-regular;
    src: url('../../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-bold;
    font-weight: 700;
    src: url('../../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: Eurofurence;
    src: url('../../fonts/Eurofurence/eurof55.ttf');
}