:root {

    /* pallete */
    --clr-primary-6: rgba(255, 255, 255, 1);
    --clr-primary-5: rgba(248.0000004172325,248.0000004172325,248.0000004172325,1);
    --clr-primary-4: rgba(225.00045776367188,223.99658203125,223.99658203125,1);
    --clr-primary-3: rgba(193.9989, 193.23645, 193.23645, 1);
    --clr-primary-2: rgba(165.9999, 165.9999, 165.9999, 1);
    --clr-primary-1: rgba(129.00195, 129.00195, 129.00195, 1);
    --clr-primary: rgba(95.99985000000001, 95.99985000000001, 95.99985000000001, 1);
    --clr-primary1: rgba(78.99900000000001, 78.07079999999999, 78.07079999999999, 1);
    --clr-primary2: rgba(41.004, 41.004, 41.004, 1);

    --clr-secondry: rgba(87.99795, 201.0012, 57.999750000000006, 1);

    /* header vars */
    --shadow-color: rgba(30.00000011175871,30.00000011175871,30.00000011175871,1);
    --nav-border: 1.5px solid rgba(0, 0, 0, 0.3);

    /* cards vars */
    --margin-block: 80px;
    --gap: 40px;
    --mobile-gap: 20px;
    --booder: 1px solid var(--clr-primary-4);
}