.card {
    display: flex;
    flex-direction: column;
    gap: var(--mobile-gap);

    margin-block: var(--margin-block);
}

.card .card-details {
    max-width: 540px;

    .card-title {
        margin-block-end: 1.75rem;

        color: var(--clr-primary1);
        font-family: Lato-bold;
        font-size: 1.75rem;
        text-wrap: pretty;
        text-transform: uppercase;

    }

    p:not(:last-of-type) {
        margin-block-end: 1.25em;
    }

    p:last-of-type {
        margin-block-end: 2rem;
    }
}

.card .continue-reading-btn {
    padding-inline: 1.5625em;
    padding-block: 0.625em;
    margin-block-start: auto;
    margin-inline-end: auto;

    font-size: 1rem;
    line-height: 1;
    border: 1px solid var(--clr-primary-3);
    border-radius: 30px;

    &:hover {
        color: var(--clr-secondry);
        border-color: var(--clr-secondry);
    }

    &::after {
        content: '';
        transition: 300ms ease;
    }

    &:hover::after {
        content: '➜';
        margin-inline-start: 10px;
        color: var(--clr-secondry);
    }
}