.main-footer {
    flex-direction: column;
    height: 315px;
    background-color: var(--clr-primary-5);
    border-block-start: var(--booder);
}

.main-footer .logo {
    color: var(--clr-primary2);
    margin-block-end: 30px;
}

.main-footer p {
    font-size: 0.8125em;
    color: var(--clr-primary-2);
}