.main-nav ul {
    height: 100%;
}

.main-nav ul li { 
    border: 1px solid rgba(0, 0, 0, 0.3);
    
    a {
        width: 8.125em;
        aspect-ratio: 1;

        font-family: Lato-bold;
        text-decoration: none;
        transition: box-shadow 0.2s linear;

        &:hover {
            color: var(--clr-secondry);
            box-shadow: inset 0px -6px 0px rgba(88, 201, 58, 1);
        }
        
        &.active {
            color: var(--clr-secondry);
            box-shadow: inset 0px -6px 0px rgba(88, 201, 58, 1);
            cursor: default;
        }
    }
}